<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>SimpleCustomersManageSystem</display-name>
  <servlet>
    <servlet-name>CustomerFindallServlet</servlet-name>
    <servlet-class>com.sean.web.CustomerFindallServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerFindallServlet</servlet-name>
    <url-pattern>/findall</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteServlet</display-name>
    <servlet-name>DeleteServlet</servlet-name>
    <servlet-class>com.sean.web.DeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteServlet</servlet-name>
    <url-pattern>/deleteCustomer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindByIdServlet</display-name>
    <servlet-name>FindByIdServlet</servlet-name>
    <servlet-class>com.sean.web.FindByIdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindByIdServlet</servlet-name>
    <url-pattern>/findbyid</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModifyCustomerServlet</display-name>
    <servlet-name>ModifyCustomerServlet</servlet-name>
    <servlet-class>com.sean.web.ModifyCustomerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifyCustomerServlet</servlet-name>
    <url-pattern>/modify</url-pattern>
  </servlet-mapping>
</web-app>